
nav.paginacao {
  float: right;
  margin-top: 2em;
}



.pokemon-list {
  margin-top: 10%;

  .pokemon-item {
    padding: 1% 4%;

    .pokemon-card {
      padding: 8px 4px 2px 4px;
      border: 1px solid #dedede;
      border-radius: 5px;
      background-color: #f3f3f3;
      cursor: pointer;

      .pokemon-img {
        .id-pokemon {
          right: 3%;
          top: 2%;
          position: absolute;
          font-size: 1.2em;
          color: #929292;
        }

        img {
          width: 100%;
          padding: 10%;
          padding-bottom: 5%;
        }
      }
    }

    .pokemon-name {
      background-color: var(--pokemon-primary);
      color: white;
      margin-top: 1%;
      text-align: center;
      font-weight: 500;
      font-size: 1.25em;
      text-transform: capitalize;
      border-radius: 6px;
      padding: 5.5% 5%;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}

.pagination .page-item {
  .page-link {
    color: var(--primary);
  }
}
