################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pokedex.Web/obj/Release/netcoreapp3.1
