################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pokedex.Web/obj
/Pokedex.Web/bin
/.vs
