<div class="container">
  <div class="row mb-3 mt-4">
    <div class="col-12 col-md-2">
      <button type="button" class="btn btn-outline-secondary btn-block" (click)="voltar()">Voltar</button>
    </div>
    <div class="col-12 col-md-2">
      <button type="button" class="btn btn-outline-primary btn-block" (click)="logResult()">Log result</button>
    </div>
  </div>


  <div class="row">
    <div class="col-12 avatar" *ngIf="pokemonInfo != undefined">
      <div class="row">
        <div class="col-12 col-md-4">
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{pokemonInfo.id}}.png" />
        </div>
        <div class="col-12 col-md-4">
          <div class="row">
            <div class="col-12">
              {{pokemonInfo.name}}
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="tipo-pokemon {{item.type.name}}" *ngFor="let item of pokemonInfo.types;" (click)="openUrl(item.type.url)">
                {{item.type.name}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 status-base">
          <div class="row mb-4">
            <div class="col-12 status-titulo">
              Status base
            </div>
          </div>
          <div class="row" *ngFor="let item of pokemonInfo.stats;">
            <div class="col-6">
              {{item.stat.name}}
            </div>
            <div class="col-6 status-valor">
              {{item.base_stat}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 avatar mt-3 mb-2">
      <div class="row" *ngIf="pokemonInfo != undefined && pokemonInfo.moves != null">
        <div class="col-12" *ngFor="let item of pokemonInfo.moves;" (click)="openUrl(item.move.url)">
          {{item.move.name}}
        </div>
      </div>
    </div>
  </div>


</div>
