.example-container {
  width: 100vw;
  height: 100vh;
  /*margin: 12px;*/
  border: none;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-drawer-container {
  mat-drawer.example-sidenav {
    background-color: var(--pokemon-primary);
    color: #fff;
    width: 35%;
  }
} 

mat-sidenav {
  width: 35%;
}

.mat-toolbar.mat-primary {
  background-color: var(--pokemon-primary);
  color: #fff;
}
